//Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

//Lato stack
$lato-stack: 'Lato', sans-serif;
$lato-thin: 100;
$lato-light: 300;
$lato-regular: 400;
$lato-semi: 700;
$lato-bold: 900;
