.container .woo-main-content {
    position: inherit;
    right: 0;
    padding-left: 1rem;
}
#animationbox {
  border: 1px solid;
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 2px 0px;
  form {
    margin: 0 auto;
    width: 35%;
    p {
      display: block;
      padding: 1rem;
      input {
        float: right;
      }
    }
    #rememberme {
      float: none;
    }
  }

  h2 {
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}

#cssanimation {
  height: 100vh;
}
