// .sidebar-left-container {
//   overflow: auto;
//   display: block;
//   float: left;
// }

#left-sidebar {
	display: block;
	float: left;
	height: 100vh;
	background-color: $side-menu-color;
  padding: 1rem;
  position: fixed;

  .toggle-menu-open {
    display: block;
    width: 40px;
    height: 50px;
    background-image: url('../graphics/icons/bars-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;
  }
  label {
    color: $white;
  }

    .filter-icon {
    display: none;
    width: 40px;
    height: 40px;
    background-image: url('../graphics/icons/filter-menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;

    @include media($breakpoint-medium) {
      display: block;
    }
  }

  .toggle-menu-close {
    display: block;
    width: 30px;
    height: 50px;
    background-image: url('../graphics/icons/close-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    float: right;
  }

  .side-left-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    transform: translate(-200px);
    padding: 1rem;
    background-color: #000;
    visibility: hidden;

    @include media($sidebar-main-menu-medium) {
      width: 50%;
    }

     @include media($sidebar-main-menu-small) {
      width: 100%;
    }    
  }

  .is-open {
    transform: translate(0);
    transition: all 300ms linear;
    visibility: visible;
  }

  .sidebar-widget {
    margin-top: 1rem;
  }

  #menu-primary {

    li {
      padding: 1rem;
      border-bottom: 1px solid $white;
    }
  }

	a {
		color: $white;
	}
}