$side-menu-color: #000;
$white: #fff;

// Breackpoints
$sidebar-main-menu-medium: max-width 1300px;
$sidebar-main-menu-small: max-width 1100px;
$breakpoint-medium: max-width 880px;
$breakpoint-small: max-width 600px;