.container {
	overflow: auto;
	width: 100%;

	.woo-content {
		display: block;
		float: right;
		width: 100%;
	}
	
	.products {
		@include span-columns(12);
		.product {
			display: block;
			float: left;
		}
	}
}