.woo-content {

	.product {
		padding: 1rem;

		.text-wrapper {

			text-align: center;
			margin-top: 1rem;

			h3, a {
				color: $dark-gray;
			}

			del {
				color: $light-gray;
			}

			ins {
				color: $orange-red;
			}
			.woocommerce-Price-amount {
				display: inline-block;

				.woocommerce-Price-currencySymbol {
					float: right;
					padding-left: .5rem;
				}
			}
		}
	}
}