.single-product {

  .entry-summary {
    @include span-columns(4 of 12);
  }

  .images {
    @include span-columns(4 of 12);
  }

  .main-contnet-wrapper {
    border: 1px solid red;
    display: block;
    float: left;
  }

  .related.products {
    @include span-columns(12);
    display: block;
    float: left;
  }

  .woocommerce-pagination {
  display: inline-block;
  float: left;
  @include span-columns(12);
  }
}


.woocommerce-pagination .page-numbers {
  display: inline-block;
  text-align: center;
  float: center;
  @include span-columns(2);
}

.thumbnails.columns-3 {
  @include span-columns(12);
  padding: 15px;
  height: 200px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
}

.thumbnails.columns-3.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
