.single-product {

  .images {
    @include span-columns(8 of 12);
    display: block;
    float: left;
    margin: 0;

    @include media($breakpoint-medium) {
      @include span-columns(12);
    }    
  }

  .main-contnet-wrapper {
    border: 1px solid red;
    display: block;
    float: left;
  }

  .related.products {
    display: block;
    float: left;
    @include span-columns(12);
  }

  #reviews {
    @include span-columns(12);
    border: 1px solid red;
    overflow: auto;
  }

  .up-sells {
    @include span-columns(12);
    float: left;

    .grid {
      padding: 0 !important;
    }

    // .grid-sizer {
    //   @include media($breakpoint-xlarge) {
    //     width: 49% !important; 
    //   }
    // }

    // .grid-item {
    //   @include media($breakpoint-xlarge) {
    //     width: 49% !important; 
    //   }
    // }
  }
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  text-align: center;
  float: center;
  @include span-columns(2);
}

.thumbnails.columns-3 {
  @include span-columns(12);
  padding: 15px;
  height: 200px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid;
}

.thumbnails.columns-3.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.summary-tabs-wrapper {
  @include span-columns(4 of 12);
  position: relative;
  margin: 0;
  padding: 2rem 1rem 1rem 1rem;
  background-color: $light-gray;

  @include media($breakpoint-medium) {
    @include span-columns(12);
  }

  .product_meta {
    display: none;
  }

  .cart {
    position: relative;
    & > * {
      @include span-columns(6 of 12);
      display: block;
      float: left;
      height: 40px;

      input {
        height: 100%;
        padding: 1rem;
        width: 100%;
      }

      @include media($breakpoint-medium) {
        @include span-columns(12);
        &:first-child {
          margin-bottom: .5rem;
        }
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  .star-rating {
    width: 50%;
    display: block;
    float: right;
    margin-bottom: 1rem;
  }

  .price {
    width: 50%;
    display: block;
    float: right;
    margin-bottom: 1rem;
    font-size: 150%;
    font-weight: 900;
  }

  .short-description {
    margin-bottom: 2rem;
  }

  .variations {
    td {
      vertical-align: middle;

      label {
        margin-right: 1rem;
        font-size: 110%;
        font-weight: 900;
      }     
    }
  }   
}

#commentform {
  background-color: $light-gray;
}

